<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.form.mapper.CompleteRequestMapper">
    <sql id="completeRequestColumns">
         ID,REF_NUMBER as refNumber,FORM_ID as formId,COMPANY_ID as companyId,COMPANY_USER_ID as companyUserId,CONSUMER_ID as consumerId,FP_FORM_DATA_ID as formDataId,NOTE,STATUS,REQUEST_DATE as requestDate
    </sql>

    <select id="selectTemplate" parameterType="int" resultType="Template">
          select <include refid="templateColumns"/> from fp_form_template  where id=#{id}
    </select>
    <select id="selectCompany" parameterType="int" resultType="Company">
          select <include refid="companyColumns"/> from fp_company  where id=#{id}
    </select>
    <select id="selectCompanyUser" parameterType="int" resultType="CompanyUser">
          select <include refid="companyUserColumns"/>  from fp_company_user  where id=#{id}
    </select>
    <select id="selectUser" parameterType="int" resultType="User">
        SELECT <include refid="userColumns"/>  FROM fp_user WHERE id=#{id}
    </select>
    <resultMap id="outboxResult" type="CompleteRequest">
        <association property="template" column="formId" javaType="Template" select="selectTemplate"/>
        <association property="company" column="companyId" javaType="Company" select="selectCompany"/>
        <association property="companyUser" column="companyUserId" javaType="CompanyUser" select="selectCompanyUser"/>
        <association property="consumer" column="consumerId" javaType="User" select="selectUser"/>
    </resultMap>

    <select id="getById" parameterType="int" resultType="CompleteRequest">
        select
        <include refid="completeRequestColumns"/>
        from fp_complete_request where id=#{id}
    </select>
    <insert id="save" parameterType="CompleteRequest">
        <![CDATA[
        insert into fp_complete_request (ID,REF_NUMBER,FORM_ID,COMPANY_ID,COMPANY_USER_ID,CONSUMER_ID,FP_FORM_DATA_ID,NOTE,STATUS,REQUEST_DATE)
        values (#{id},#{refNumber},#{formId},#{companyId},#{companyUserId},#{consumerId},#{formDataId},#{note},#{status},#{requestDate})
        ]]>
        <selectKey keyProperty="id" resultType="long">
            <![CDATA[
				SELECT LAST_INSERT_ID() AS VALUE
			]]>
        </selectKey>
    </insert>
    <update id="update" parameterType="CompleteRequest">
        update fp_complete_request set
            ID=#{id},
            REF_NUMBER=#{refNumber},
            FORM_ID=#{formId},
            COMPANY_ID=#{companyId},
            COMPANY_USER_ID=#{companyUserId},
            CONSUMER_ID=#{consumerId},
            FP_FORM_DATA_ID=#{formDataId},
            NOTE=#{note},
            STATUS=#{status},
            REQUEST_DATE=#{requestDate}
            where id=#{id}
    </update>
    <delete id="delete" parameterType="int">
            delete from fp_complete_request where id = #{id}
    </delete>
    <select id="queryByPage" parameterType="QueryParams" resultMap="outboxResult">
        select
        <include refid="completeRequestColumns"/>
        from fp_complete_request
        limit #{paging.startRecord},#{paging.pageSize}
    </select>

</mapper>