<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.form.mapper.UserMapper">
    <select id="getById" parameterType="int" resultType="User">
          SELECT ID,REF_NUMBER as refNumber,FIRST_NAME as firstName,MIDDLE_INITIAL as middleInital,LAST_NAME as lastName,EMAIL,STATUS,FP_LOGIN_ID as loginId,FP_PASSWORD as password
          FROM fp_user  WHERE id=#{id}
    </select>
    <select id="getByLoginId" parameterType="String" resultType="User">
        SELECT ID,REF_NUMBER as refNumber,FIRST_NAME as firstName,MIDDLE_INITIAL as middleInital,LAST_NAME as lastName,EMAIL,STATUS,FP_LOGIN_ID as loginId,FP_PASSWORD as password
          FROM fp_user  WHERE FP_LOGIN_ID=#{loginId}
    </select>
    <insert id="save" parameterType="User">
        <![CDATA[
       INSERT INTO fp_user(ID,REF_NUMBER,FIRST_NAME,MIDDLE_INITIAL,LAST_NAME,EMAIL,STATUS,FP_LOGIN_ID,FP_PASSWORD)
       VALUES (#{id},#{refNumber} ,#{firstName} ,#{middleInital} ,#{lastName} ,#{email} ,#{status} ,#{loginId} ,#{password} )
        ]]>
         <selectKey keyProperty="id" resultType="long">
			<![CDATA[
				SELECT LAST_INSERT_ID() AS VALUE
			]]>
		</selectKey>
    </insert>
    <update id="update" parameterType="User">
        update fp_user set
            REF_NUMBER=#{refNumber},
            FIRST_NAME=#{firstName},
            MIDDLE_INITIAL=#{middleInital},
            LAST_NAME =#{lastName},
            EMAIL =#{email},
            STATUS =#{status},
            FP_LOGIN_ID =#{loginId},
            FP_PASSWORD =#{password}
            where id=#{id}
    </update>
    <delete id="delete" parameterType="int">
            delete from fp_user where id = #{id}
    </delete>
    <select id="queryByPage" parameterType="QueryParams" resultType="User">
        select * from fp_user
        limit #{paging.startRecord},#{paging.pageSize}
    </select>
    <select id="queryByPage_count" parameterType="QueryParams" resultType="int">
        select count(*) from fp_user
    </select>
</mapper>